@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro");
@import url("https://fonts.googleapis.com/css?family=Satisfy");
body {
  background-color: #f1f8ff;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.col {
  border-color: red;
  padding: 15px;
}
.col-1 {
  flex: 8.333%;
}
.col-2 {
  flex: 16.667%;
}
.col-3 {
  flex: 25%;
}
.col-4 {
  flex: 33.333%;
}
.col-5 {
  flex: 41.667%;
}
.col-6 {
  flex: 50%;
}
.col-7 {
  flex: 58.333%;
}
.col-8 {
  flex: 66.667%;
}
.col-9 {
  flex: 75%;
}
.col-10 {
  flex: 83.333%;
}
.col-11 {
  flex: 91.667%;
}
.col-12 {
  flex: 100%;
}

// logo & navi :
nav {
  box-shadow: 1px 1px 1px #2f2b2f;
  background-color: #2f2b2f;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  height: 70px;
  width: 100%;

  img {
    margin-left: 20vw;
    margin-top: 1vh;
  }
}

// jumbotron

.jumbotron {
  width: 100%;
  height: 40vh;
  padding-top: 22vh;
  text-align: center;
  background-image: url("https://pics.tinypic.pl/i/00981/f4fpbzrrd52u.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;

  h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
    color: #2f2b2f;
    font-family: "Source Serif Pro", serif;
    letter-spacing: 3px;
    word-spacing: 5px;
    &:first-letter {
      font-size: 3rem;
      font-family: "Satisfy", cursive;
      transition: 5s;
    }
  }
}

// flex :

.row {
  display: flex;
  height: 1500px;
}

// flex container left :

.left {
  background-color: #ebebeb;
  flex: 2;

  img {
    width: 100%;
    padding-left: 1vw;
    padding-top: 2vh;
  }
}

.left > h1 {
  color: #2f2b2f;
  text-align: center;
  font-size: 2em;
}

.left > p {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  word-spacing: 1px;
}

.left > h2 {
  color: #2f2b2f;
  text-align: center;
  font-size: 1.5em;
}

li {
  line-height: 18px;
  letter-spacing: 1px;
  word-spacing: 1px;
}

// flex container right:

.right {
  background-color: #ebebeb;
  flex: 7;
  width: 100%;

  h2 {
    text-align: center;
    padding-top: 2vh;
    font-family: "Source Serif Pro", serif;
    letter-spacing: 2px;
    word-spacing: 3px;
  }
}

// button create:

.create-column {
  margin-top: 5vh;
  margin-left: 30vw;
  box-shadow: 2px 2px 1px #a4b0be;
  width: 10vw;
  height: 5vh;
  border-radius: 6px;
  background-color: #c5c6c8;
  font-size: 1.2em;
  margin-right: 200px;
  font-family: "Source Serif Pro", serif;
}

// container for kanban :

.column-container {
  width: 100%;
  display: flex;
  flex-direction: reverse;
  padding: 5%;
  margin: 2px auto;
  flex-wrap: wrap;
}

// create column for kanban :
.column {
  box-shadow: 1px 1px 1px #cccccc;
  text-align: center;
  width: 20vw;
  background: #dfe4ea;
  height: 100%;
  margin: 1vw;

  .column-title {
    width: 18vw;
    background-color: #a4b0be;
    flex-direction: row;
    position: relative;
    margin-left: 1vw;
    flex-wrap: wrap;
  }
  h3 {
    font-size: 1.2rem;
    text-align: center;
    font-family: "Source Serif Pro", serif;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 4px;
    word-spacing: 1px;
  }
}

.column > ul {
  list-style-type: none;
  background: #ced6e0;
  font-size: 1rem;
  text-align: left;
  font-weight: 600;
  position: relative;
  margin-left: 1vw;
  margin-right: 1vw;

  // removed cards :

  .btn-delete {
    position: absolute;
    margin-top: -53px;
    margin-left: 247px;
    height: 4vh;
    width: 1.4vw;
    border-radius: 2px;
    background-color: #c5c6c8;
  }
}
// removed buttons a new card :

.removed {
  height: 4vh;
  width: 1.5vw;
  border-radius: 4px;
  background-color: #c5c6c8;
}

// descritpion cards :

.card-description {
  margin: 5px;
  padding: 15px;
  background-color: #cccccc;
  width: 14vw;
}

// add new cards button : 
.add-card {
  width: 7vw;
  height: 4vh;
  border-radius: 2px;
  background-color: #c5c6c8;
  font-family: "Source Serif Pro", serif;
}

// footer :
footer {
  background-color: #252726;
  color: #fff;
  margin: 0;
  padding: 5px;
  text-align: center;
}
